.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .list {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .list {
        display: flex;
        flex-direction: column;
        max-width: 333px;
        margin: 20px auto;
    }
}
